.container {
    display: flex;
    align-items: center;
    padding: 0 calc(50% - 590px);
}

.logo {
    text-align: left;
    margin-left: 40px;
}

.input {
    margin-left: 50px;
    width: 400px;
    height: 40px;
    background-color: #e7e7e7;
    border-radius: 10px;
    border-color: transparent;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #808080;
}